---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { menuItems } from '../data/menuItems.js'
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon'
---

<DefaultLayout title="La carte">
  <section class="py-12">
    <div class="my-6 mx-14">
      <h1>Notre carte</h1>
      <p>Découvrez nos délicieux plats</p>
      <p>Boisson gratuite pour les étudiants</p>
    </div>

    <h2 class="my-6 mx-14 text-yogi-blue">Plats 음식</h2>
    <div class="flex items-center justify-center mx-10">
      <div class="grid grid-cols-1 gap-6 mx-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        {
          menuItems.map((item) => (
            <div>
              <a href={item.link} class="no-underline">
                <Image
                  src={item.image}
                  alt={item.name}
                  width="250"
                  height="250"
                  class="object-cover w-full h-auto aspect-square"
                />
                <div>
                  <h3 class="font-bold">{item.name} <span>{item.hot ? <Icon name="emojione:hot-pepper" size="32" /> : <span></span>}</span></h3>
                  <p>{item.description}</p>
                  <span>{item.price}</span>
                </div>
              </a>
            </div>
          ))
        }
      </div>
    </div>

    <h2 class="mt-12 mx-14 text-yogi-blue">Combos 콤보</h2>
    <p class="mx-14">Les Combos sont disponibles uniquement le midi</p>
    <div class="flex items-center justify-center mx-10 mb-6">
      <div class="grid grid-cols-1 gap-6 mx-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <a
          href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz/?geohash=u0ceggbg1c5e&item-id=1491669054"
        >
          <div class="border border-white rounded">
            <h4 class="font-bold">TOPOKI 떡볶이 + DEMI KIMBAP 김밥 <Icon name="emojione:hot-pepper" size="32" /></h4>
            <span>10,50€</span>
          </div>
        </a>
        <a
          href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz/?geohash=u0ceggbg1c5e&item-id=1491669054"
        >
          <div class="border-white rounded order ">
            <h4 class="font-bold">RAMEN + DEMI KIMBAP 김밥 <Icon name="emojione:hot-pepper" size="32" /></h4>
            <span>11€</span>
          </div>
        </a>
      </div>
    </div>

    {/*
    <h2 class="mt-12 mx-14 text-yogi-blue">Dochirak 도시락</h2>
    <p class="mx-14">À emporter uniquement</p>
    <div class="flex items-center justify-center mx-10 my-6">
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <a
          href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz/?geohash=u0ceggbg1c5e&item-id=1491669045"
        >
          <div >
            <img
              src="https://res.cloudinary.com/jimymltta/image/upload/v1705073726/Yogi%20Food/Bulgogi_flgeaq.jpg"
              width="500"
              height="500"
              class="object-cover w-full h-auto mb-6 aspect-square"
            />
            <h4 class="font-bold">BULGOGI 불고기</h4>
            <span>11,50€ sans boisson | 13€ avec boisson</span>
          </div>
        </a>
        <a
          href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz/?geohash=u0ceggbg1c5e&item-id=1491669049"
        >
          <div >
            <img
              src="https://res.cloudinary.com/jimymltta/image/upload/v1705073717/Yogi%20Food/Spam_m6fkyj.jpg"
              width="500"
              height="500"
              class="object-cover w-full h-auto mb-6 aspect-square"
            />
            <h4 class="font-bold">SPAM 스펨</h4>
            <span>11,50€ sans boisson | 13€ avec boisson</span>
          </div>
        </a>
      </div>
    </div>
    */}

    <h2 class="mt-12 mx-14 text-yogi-blue">Banchan 반찬</h2>
    <div class="flex items-center justify-center mx-10 my-6">
      <div class="grid grid-cols-1 gap-6 mx-4 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4">
        <a
          href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz/?geohash=u0ceggbg1c5e&item-id=1491669033"
        >
          <div class="p-10">
            <img
              src="https://res.cloudinary.com/jimymltta/image/upload/v1710883534/Yogi%20Food/Yogi_Wanja_ektge1.jpg"
              width="250"
              height="250"
              class="object-cover h-auto mb-6 aspect-square"
            />
            <h4 class="font-bold">WANJA</h4>
            <p>Galets boeuf haché, oeuf, gingembre, ail, oignon - 3 pièces</p>
            <span>6,50€</span>
          </div>
        </a>
        <a
          href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz/?geohash=u0ceggbg1c5e&item-id=1491669033"
        >
          <div class="p-10">
            <h4 class="font-bold">KIMCHI <Icon name="emojione:hot-pepper" size="32" /></h4>
            <p>Légumes marinés sauce pimentée | radis ou concombre ou choux selon la disponibilité</p>
            <span>3€</span>
          </div>
        </a>
        <a
          href="https://deliveroo.fr/fr/menu/Amiens/saint-germain-les-halles-saint-leu-notre-dame/yogi-19-rue-de-metz/?geohash=u0ceggbg1c5e&item-id=1491669033"
        >
          <div class="p-10">
            <h4 class="font-bold">BAP</h4>
            <p>Bol de riz</p>
            <span>1€</span>
          </div>
        </a>
      </div>
    </div>

    <h2 class="mt-12 mx-14 text-yogi-blue">Boissons 음료</h2>
    <div class="my-6 mx-14">
      <p><span class="font-bold">Coréenne</span> - 4,50€</p>
      <p><span class="font-bold">San Pellegrino 33cl, agrumes</span> - 3€</p>
      <p><span class="font-bold">San Pellegrino 33cl, eau gazeuse</span> - 3€</p>
      <p><span class="font-bold">Coca-Cola/Pepsi</span> - 2,90€</p>
      <p><span class="font-bold">Sprite</span> - 2,90€</p>
      <p><span class="font-bold">Oasis</span> - 2,90€</p>
      <p><span class="font-bold">Café coréen</span> - 2,70€</p>
      <p><span class="font-bold">Tisane Yuja 유자차</span> - 4,50€</p>
      <p><span class="font-bold">Ice café latte coréen</span> - 4,50€</p>
    </div>

    <h2 class="mt-12 mx-14 text-yogi-blue">Desserts 디저트</h2>
    <div class="my-6 mx-14">
      <p><span class="font-bold">Incontournable cheesecake</span> - 6,50€</p>
      <p><span class="font-bold">Soufflé glacé mango coco</span> - 6,50€</p>
      <p><span class="font-bold">Fondant au chocolat</span> - 6,50€</p>
    </div>
  </section>
</DefaultLayout>
